/**
*   引入全局vux并修改行内inlineX-Switch大小和背景色样式
*/
/* .weui-switch, .weui-switch-cp__box{
  width: 0.47rem!important;
  height: 0.27rem!important;
  top:0.07rem;
}
.weui-switch:before, .weui-switch-cp__box:before{
  width: 0.45rem!important;
  height: 0.25rem!important;
  background-color:rgb(224,230,234)!important;
}
.weui-switch:after, .weui-switch-cp__box:after{
  width: 0.25rem!important;
  height: 0.25rem!important;
}
.weui-switch:checked, .weui-switch-cp__input:checked ~ .weui-switch-cp__box{
  border-color: #D58023!important;
  background-color: #D58023!important;
}
.weui-switch:checked:after, .weui-switch-cp__input:checked ~ .weui-switch-cp__box:after {
    -webkit-transform: translateX(0.2rem)!important;
    transform: translateX(0.2rem)!important;
}
.weui-uploader__input-box:after, .weui-uploader__input-box:before{
  background: transparent;
  display: none;
}
.weui-uploader__input-box{
  background-position: center center;
  background-size: 100% 100%;
  border: none;
}
.vux-popup-picker-placeholder{
  color: #bbb!important;
}
.weui-dialog__bd:first-child {
  padding: 1.7em 20px 1.7em!important;
  text-align: left!important;
  line-height: 16px!important;
}
.weui-dialog__bd{
  min-height: 10px!important;
}
.weui-dialog__title{
  font-size: 0.16rem!important;
}
.weui-icon-success{
  font-size: 0.14rem!important;
  color: #F59318!important;
}
.weui-icon-success-circle {
    font-size: 0.14rem!important;
    color: #ccc!important;
}
.vux-no-group-title,.weui-cells{
  margin: 0!important;
}
.weui-dialog__ft{
  font-size: 0.14rem!important;
}*/
/* 

.weui-cell__ft{
  text-align: auto!important;
} */
.vux-cell-primary{
  text-align: right!important;
}

.vux-datetime{
  color: #999!important;
} 
